:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* { box-sizing: border-box; }
html, body, #root { height: 100%; }
body { margin: 0; }

button:focus,
button:focus-visible,
input:focus,
input:focus-visible {
  outline: none;
}
